node_modules
build
npm-debug.log
.env
.DS_Store|
dist
public/uploads/activities/*
public/uploads/companies/*
public/uploads/achievements/*
public/uploads/tmp/*
public/uploads/pdf-sings/*
public/.DS_Store
public/uploads/profile
.DS_Store
