@page {
  size: A4;
}
@media print and (orientation: portrait) {
  .end-page {
    page-break-inside: always;
    page-break-after: always;
    page-break-before: always;
  }

  .sheet-static {
    border: none;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.fill {
  background-color: #4caf50;
  height: 670px;
}

.fill-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.bigLogo {
  fill: rgba(255, 255, 255, 0.2);
}

.bigLogoContainer {
  width: 150px;
  margin-bottom: -100px;
  margin-top: 20px;
  position: absolute;
  margin-left: 30px;
}

.dataContainer {
  position: absolute;
  margin-left: 73px;
  margin-top: 30px;
}

.dataNames {
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  line-height: 14.32px;
  letter-spacing: 0.15px;
}

.dataValue {
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.dataMeasures {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.badges {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 57%;
  margin-top: 30px;
}

.badges-description {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  display: flex;
  position: relative;
  margin-left: -10px;
}

.badges-image {
  width: 80px;
  height: 80px;
  margin-left: -20px;
}

.size-description {
  font-size: 17px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.badges-hs {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  margin-bottom: -50px;
  margin-left: 4em;
}

.hz-description {
  margin-left: 5px;
  font-size: 12px;
  margin-bottom: -20px;
}

/* TODO: no borrar estos estilos */
/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px;
} */

.disclaimer {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  clear: left;
}

.qr {
  position: absolute;
  margin-top: 104px;
  width: 70px;
}

.alm {
  margin-bottom: 10px;
  margin-top: -10px;
}

.ult {
  margin-bottom: 10px;
  margin-top: -10px;
}

.text-title {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 21px;
  font-weight: 700;
  width: 300px;
  position: absolute;
  top: 140px;
  margin-left: 100px;
  margin-top: 20px;
}

.text-company {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
  font-style: normal;
  float: left;
  position: absolute;
  vertical-align: top;
  left: 80px;
  top: 125px;
}

.binnacle {
  color: #ffffff;
  margin-left: 60px;
  font-size: 12px;
  top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 2.5px;
  border-bottom: 1px solid;
}

.lotValue {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14, 32px;
  float: right;
  color: #ffffff;
}

.background-shape {
  height: 59px;
  float: right;
  offset: initial;
  height: 57px;
  width: 57px;
  left: 5px;
  top: -10px;
  border-radius: 2px;
  background: #c8e6c9;
  offset: 10px 30px;
}

.lot {
  box-shadow: 15px -15px 0.9px #c8e6c9;
}

.lotdiv {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 30px;
  width: 80%;
  height: 100%;
}

.lot-location {
  text-justify: inherit;
}

.svg-hex {
  width: 30%;
  filter: drop-shadow(2px 0 0 #4caf50) drop-shadow(-2px 0 0 #4caf50)
    drop-shadow(0 2px 0 #4caf50) drop-shadow(0 -2px 0 #4caf50)
    drop-shadow(2px 0 0 #ffffff) drop-shadow(-2px 0 0 #ffffff)
    drop-shadow(0 -2px 0 #ffffff) drop-shadow(0 2px 0 #ffffff);
}

.div-svg {
  position: relative;
  left: 280px;
  top: -250px;
  vertical-align: top;
  box-sizing: border-box;
}

.div-text-badge {
  position: relative;
  left: 370px;
  top: -320px;
  color: #ffffff;
}

.lastActivity {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 445px;
  margin-left: 70px;
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  position: absolute;
}

.last-frame {
  color: #ffffff;
}

.lastActivity-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}

.no-bold {
  font-weight: 400px;
}

.badge-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.badge-info {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1.5px;
  text-align: left;
}

.size-description {
  font-size: 20px;
  margin-bottom: -10;
}

.crop-leaders {
  background: linear-gradient(
    to bottom,
    #4caf50 0%,
    #4caf50 40%,
    #ffffff 41%,
    #ffffff 100%
  );
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  margin-top: -100;
}

.spokesman {
  height: fit-content;
  width: 242px;
  border-radius: 4px;
  background: #f8f8f8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333333;
}

.spokesman-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.4000000059604645px;
  margin-left: 10px;
  margin-top: 10px;
}

.spokesman-name {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -18px;
}

.spokesman-data {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-left: 10px;
}

.res-contact-header {
  height: 100px;
  width: 250px;
  border-radius: 4px;
  background: #f8f8f8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333333;
  padding: 10px;
}

.res-contact-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.4000000059604645px;
  margin-left: 10px;
  margin-top: 0px;
}

.name-header {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -18px;
  margin-bottom: -0.1;
}
.data-header {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-left: 10px;
}

.spokesman-data-validation {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-left: 20px;
}

.inner-margin {
  padding: 15px;
}

/* FIXME: Desde aca se controla el paginado */
.activity-header {
  page-break-inside: avoid;
  /* page-break-after: always !important;
  page-break-before: always !important; */
}

.activity-header-lots-under {
  page-break-before: always;
}

.activity-header-val {
  /* page-break-after: always !important; */
  /* page-break-inside: avoid; */
  /* page-break-before: always !important; */
  /* margin-top: 50px; */
}

.validation-title {
  page-break-inside: avoid !important;
}

.validation-title-val {
  page-break-inside: avoid !important;
}

/* FIXME:*/

.activity-type-img {
  height: 30px;
  margin-left: 5px;
  margin-top: 20px;
  width: 30;
}

.activity-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 22px;
  font-style: normal;
  padding-left: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: -26px;
  page-break-inside: avoid;
}

.activity-frame {
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  display: flex;
  text-align: left;
  flex-direction: column;
  page-break-inside: avoid;
}

.activities {
  page-break-inside: avoid;
  background-color: #ffffff;
}

.activity-frame-actividades-validaciones {
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  page-break-inside: avoid !important;
  position: static;
  width: 100%;
}

.date-activity {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #333333;
}

.date-activity-validation {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  color: #333333;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* TODO: No borrar */
/* .activity-lots {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  padding-bottom: 10px;
} */

.activity-lots {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-left: 10px;
}

.activity-lots-validation {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-left: 20px;
}

.activity-framed-h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.activity-description-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-validations {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 70%;
  padding-right: 20px;
  /* margin-bottom: 20px; */
}

.activity-validations-list {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.backup-docs {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(51, 51, 51, 0.7);
}

.backup-docs-validation {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  color: rgba(51, 51, 51, 0.7);
  padding-left: 5px;
}

.validation-date {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #c8e6c9;
  color: #43a047;
}

.not-signed-validation-date {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #ffccbc;
  color: #f4511e;
}

.validation-date-val {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #c8e6c9;
  color: #43a047;
}

.validation-name {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.validation-name-val {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.lot-pic-text {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -1px;
}

.name-lot-card {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
}

.surface-lot-card {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -1px;
  color: rgba(51, 51, 51, 0.7);
}

.container-card-lot {
  min-height: 60px;
}

.type-pic-card {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #4caf50;
  padding-left: 10px;
  margin-top: -20px;
}

.applications {
  page-break-inside: avoid;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-style: normal;
  /* font-weight: 400; */
  /* line-height: 10px; */
  letter-spacing: 0.25px;
  /* text-align: left; */
  margin-left: 5px;
}

.applications-supply {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.applications-supply-validation {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  letter-spacing: -0.5;
  position: static;
  padding-right: 5px;
  margin-left: 10px;
}

.card {
  box-shadow: 0px 0px 0px 2px rgb(0 0 0 / 10%);
  transition: 0.3s;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.activity-lots-image {
  width: 300px;
  height: 180px;
}

.activity-lots-img {
  width: 200px;
  height: 200px;
}

.activity-frame-lots {
  display: flex;
  margin-top: 65px;
  flex-wrap: wrap;
  position: static;
}

.activity-frame-lots-validation {
  display: flex;
  padding-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: static;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.activity-frame-lots-under {
  display: flex;
  flex-direction: row;
  margin-top: -50px;
  margin-bottom: 50px;
  height: 250px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 10px;
}

.link-pdf {
  margin-left: 20px;
  padding-top: 5px;
  color: #5e5e5e !important;
  margin-bottom: 50px;
  position: absolute;
}

.link-pdf-val {
  margin-left: 20px;
  padding-top: 5px;
  color: #5e5e5e !important;
  margin-bottom: 50px;
  position: absolute;
  margin-top: 10px;
}

.eiq-header {
  height: 47px;
  width: 244px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: rgba(255, 255, 255, 0.54);
  display: flex;
  position: absolute;
  margin-left: 70px;
  margin-top: 382px;
  opacity: 0.5;
  align-items: center;
  padding: 3px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
}

.center {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: black;
  filter: brightness(0.7) contrast(0.7);
  z-index: 9999;
  margin-top: -6px;
}

.label-eiq-severity {
  margin: -2px;
  color: black;
  width: 100px;
}

.icon-eiq-header {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 23px;
}

.color-background-very-low {
  background-color: #30bb58;
}

.color-background-low {
  background-color: #7ac62d;
}

.color-background-moderate {
  background-color: #c9dd02;
}

.color-background-height {
  background-color: #ff9101;
}

.color-background-very-height {
  background-color: #ff4401;
}

.color-very-low {
  color: #00ff06;
}

.color-low {
  color: #8bc34a;
}

.color-moderate {
  color: #c9dd02;
}

.color-very-height {
  color: #ff4401;
}

.color-height {
  color: #ff9101;
}

.star-eiq-header {
  position: absolute;
  display: flex;
}

.img-eiq-header {
  margin-left: 5px;
  margin-top: 10px;
  width: 30px;
  position: absolute;
  filter: brightness(10);
}

.eiq-activity {
  height: 30px;
  width: 100px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  margin-left: 20px;
}

.center-activity {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-left: -50px;
}

.text-eiq-value {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.icon-eiq-activity {
  background-color: #ebebeb;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  margin-left: -30px;
}

.img-eiq-activity {
  margin-left: 4px;
  width: 10px;
}

.eiq-lots {
  height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
  align-items: center;
  margin-top: -10px;
  width: 100px;
}

.eiq-lots-style {
  height: 30px;
  width: 100px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  position: absolute;
  /* margin-left: -120px; */
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eiq-content {
  display: flex;
  justify-content: center;
}

:root {
  --eiq-very-low: #e8f5e9;
  --eiq-low: #f1f8e9;
  --eiq-moderate: #f9fbe7;
  --eiq-high: #fff3e0;
  --eiq-very-high: #fff3e0;
}

.eiq-very-low {
  background-color: var(--eiq-very-low);
}

.eiq-low {
  background-color: var(--eiq-low);
}

.eiq-moderate {
  background-color: var(--eiq-moderate);
}

.eiq-high {
  background-color: var(--eiq-high);
}

.eiq-very-high {
  background-color: var(--eiq-very-high);
}

.color-very-high {
  color: #ff5722;
}
.color-hight {
  color: #ff9800;
}

.color-moderate {
  color: #c0ca33;
}

.color-low {
  color: #8bc34a;
}

.color-very-low {
  color: #4caf50;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
