style(type="text/css").
    .link {
        width: '50px';
        background: #30A01B;
        border-radius: 5px;
        height: 52px;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #4F4F4F;
    }
p Hola #{name} #{last},

p El registro de aplicación de la actividad de #{activity} requiere de tu aprobación. 

p Para acceder a la misma haga click aquí:

a.link(href='exp://127.0.0.1:3000/profile') Abrir la app

p En caso que tenga alguna duda entre en contacto con nosotros.

p Fuerte abrazo
    br
    | Equipo UCROP.IT

img(src="https://ucrop.it/wp-content/uploads/2019/09/ucrop.gmail_.png")

p Email: contacto@ucrop.it
    br
    a(href="https://site.ucrop.it") https://www.ucrop.it