head
  style(type="text/css").
    * {
      padding: 0;
      margin: 0;
    }
    p {
      font-family: Arial;
    }
    p small {
      margin: 5px 0;
    }
    .content {
      margin-top: 15px;
    }
    body {
      padding: 15px;
    }
body
  p Hola  #{user.first_name},

  p.content #{owner.first_name} #{owner.last_name} le comparti칩 una campa침a de producci칩n agropecuaria para trabajar en conjunto. 
  p Cliquee en el link de abajo para acceder a la misma:
  
  br
  
  a(href="#") #{cropName}

  br

  p Si tiene alguna duda, por favor, p칩ngase en contacto con nosotros.
  p Fuerte abrazo,
  p Equipo Ucrop.it
  
  br
  br
  
  p --
  
  br
  
  img(src="http://ucrop.it/logo.png", alt="logo" width="100")
  br
  p
    small Italia, 451, Of #102 
  p 
    small Vicente Lopez, Buenos Aires, Argentina
  p 
    small Tel: +54911 56540777 
  p 
    small contacto@ucrop.it 
  p 
    small
      a(href="www.ucrop.it") www.ucrop.it