doctype html
head
  title= title
  script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
  script(src=`https://maps.googleapis.com/maps/api/js?key=${api_key}&callback=initMap&libraries=&v=weekly`, defer='')
  style.
    #map {
    height: 100%;
    }
    html,
    body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
  script.
    function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 17,
    center: !{JSON.stringify(center)},
    mapTypeId: "satellite",
    });
    const flightPlanCoordinates = !{JSON.stringify(flightPlanCoordinates)};
    const flightPath = new google.maps.Polygon({
    path: flightPlanCoordinates,
    strokeColor: "#FF0000",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#FF0000",
    fillOpacity: 0.35,
    });
    flightPath.setMap(map);
    }
#map