style(type="text/css").
    .code {
        width: '360px';
        background: #F8F5F5;
        border-radius: 5px;
        height: 52px;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #4F4F4F;
    }
    .logo{
        width: 186px;
        height: 53px;
    }

p Usamos este código simple de acceso para que no tengas que recordar una nueva contraseña.

p Tu código de Ingreso es:

p.code #{code}

p El código será valido para un solo ingreso a la aplicación. 

p Fuerte abrazo
    br
    | Equipo UCROP.IT

img.logo(src="https://ucropitspace.nyc3.digitaloceanspaces.com/misc/isologo3.png")

p WhatsApp: +549112386-3166
    br
    | Email: contacto@ucrop.it
    br
    a(href="https://site.ucrop.it") https://www.ucrop.it
        