style(type="text/css").
    img {
        width: '50px';
        background: #F8F5F5;
        border-radius: 5px;
        height: 52px;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #4F4F4F;
    }
p Hola  #{email},

p Te han invitado a colaborar dentro del cultivo #{cropname} como #{role} con el CUIT #{identifier}. 

p Antes de empezar, descarga tu aplicación según el dispositivo y genera tu usuario:

a.link(href='https://apps.apple.com/ar/app/ucrop-it/id1531517510')
  img(src="https://ucropitspace.nyc3.digitaloceanspaces.com/misc/apple.png")

a.link(href='https://play.google.com/store/apps/details?id=com.ucropit.ucropitapp')
  img(src="https://ucropitspace.nyc3.digitaloceanspaces.com/misc/google.png")

p En caso que tenga alguna duda entre en contacto con nosotros.

p Fuerte abrazo
    br
    | Equipo UCROP.IT

img(src="https://ucrop.it/wp-content/uploads/2019/09/ucrop.gmail_.png")

p Email: contacto@ucrop.it
    br
    a(href="https://site.ucrop.it") https://www.ucrop.it